/* template1 styling */
.template1-parent {
 margin-top: -68px;
 color: rgba(0, 0, 0, 0.699) !important;
 padding: 20px;
}
.template1-parent h1 {
 margin-bottom: -5px;
 color: rgba(0, 0, 0, 0.699) !important;
 font-size: 35px;
 display: flex;
 justify-content: center;
 font-weight: bold;
}
.template1-parent p {
 padding-top: 0 !important;
 margin-bottom: 0 !important;
 margin-top: 2px !important;
 font-size: 16px;
}
.template1-parent h3 {
 font-size: 22px;
 font-weight: bold;
}
.template1-parent h6 {
 margin: 0 !important;
 padding: 0 !important;
}

.listz li {
 width: auto;
 float: left;
 width: 25%;
}

.rangex {
 float: right;
}

.year {
 width: 150px;
} 

.linkz {
 width: 180px;
}

.head{
 height: 8px;
 /* margin-top: -25px; */
 
}

.experience{
margin-bottom: -20px;
padding: -10px;
}